/*

BASICS

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}


#landing {
    padding: 0 32px;

}

div {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    
}

/* 

NAVIGATION

*/

nav {
    padding-top: 32px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-apart;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav_logo {
    display: flex;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

/*

HEADER

*/

h1 {
    30px;
}

.purple {
    color: #6415ff;
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__description {
    margin: 0 129.5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

}


.header__description--para {
    margin: 32px 0;
}

.header__img {
    width: 100%;
    max-width: 768px;
}


.header__img--wrapper {
    width: calc(100% - 40%);
}

/*

MAIN    

*/

h4 {
    color: #6415ff;
    text-align: center;
    margin-bottom: 24px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__banner {
    font: 48px;
    margin: 16px 0;
}

/*

FEATURES

*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 32px 8px;
    margin: 0 16px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    line-height: 1;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}




@media (max-width: 1024px) {
    .header__description {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1280px) {
    .header__img--wrapper {
        display: flex;
        justify-content: flex-end;
    }
}

