* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

body {
    max-width: 100vh;
    overflow: hidden;
}

#landing {
    padding: 0 32px;

}

div {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    padding-top: 32px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
}

.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-apart;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav_logo {
    display: flex;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

h1 {
    30px;
}

.purple {
    color: #6415ff;
}